<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
{% block content %}
    <div class="container">
{#        <img src="{{ image }}">#}

        {% if image_error %}
            <h4>{{ image_error }}</h4>

            {% else %}
                {% load static from staticfiles %}
            <img src="{% static image %}" alt="My image"/>
        {% endif %}


    </div>
{% endblock %}
</body>
</html>
