{% load i18n static %}<!DOCTYPE html>
<head>
    <title>Images</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resizer.css' %}"/>

    {% load static %}
    <script type="application/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
{% block content %}
    <div class="container" style="max-width: 90%;">


        <h4>{{ blog.name }}</h4> <a href="/admin/logout">Log off</a>
        {% if posts %}
            <h3>Subscribe posts</h3>

            <div class="flex-container">
                {% for post in posts %}
                    <div class="card" style="width: 18rem; " >
                        <h5>{{ post.title }}</h5>
                        <h6>{{ post.content }}</h6>
                        <div id="contt_bloc">
                    <div class="formblock" >
                        <form method="post" action="/unsubscribe/" style="padding: 3px 0;">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{ post.id }} />
                        <input type="submit" class="btn btn-outline-primary" value="unsubscribe" style=""/>
                        </form>
                        </div>
                        <div class="formblock" >
                        <form method="post" action="/mark_read/" style="padding: 3px 0;">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{ post.id }} />
                        <input type="submit" class="btn btn-outline-success" value="mark read"  style=""/>
                        </form>
                        </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if my_posts %}
            <h4>My posts</h4> <h4><a href="/new_post"><span class="badge badge-secondary">New</span></a></h4>
            <div class="flex-container">
            {% for post in my_posts %}
                <div class="card" style="width: 18rem; " id={{ post.id }}>
                    <h5>{{ post.title }}</h5>
                    <h6>{{ post.content }}</h6>


                </div>
            {% endfor %}

        {% endif %}

        </div>
    </div>




{% endblock %}
</body>

