{% load i18n static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/resizer.css' %}"/>
    {% load static %}
    <script type="module" src="{% static 'js/resizer.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <form method="post" action="/create_post/">
        {% csrf_token %}
        <h5>Title</h5>
        <input type="text" name="title" value="title"/>
        <h5>Content</h5>
        <input type="text" name="content"  value="content" style=""/>
        <br>
        <button class="btn btn-info" type="submit" style="margin-top: 10px; ">Create</button>
    </form>


</div>
t>
</body>
</html>