
body {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

form {
    font-family: 'Avenir Next', 'PT Sans', 'HelveticaNeue', 'Arial', 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
    width: 85%;
    margin: 0 auto;
    padding: 25px 0;
    padding: 10vh 0;
}

@media screen and (min-width: 40.625em) {
    form {
        width: 50%;
        padding: 50px 0;
        padding: 20vh 0;
    }
}


#contt_bloc {
    /*border: 2px solid red;*/
    /*width: 350px;*/
    /*height: 120px;*/
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
    /*white-space: nowrap;*/
}

.formblock {
    /*   float: left; */
    display: inline-block;
    vertical-align: middle;
    float: left;

    margin: 7px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;

}